nav{
    display: flex; 
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}
nav .link{
    margin: 0 10% 0 10%;
    text-decoration: none; 
    border-bottom: 0px solid var(--color-darkPuple); 
    color: var(--color-puple); 
    font-size: 2rem; 
    font-weight: 300; 
    transition: 0.5s;
}
nav .link:hover{
    border-bottom: 0.2rem solid var(--color-darkPuple); 
    color: var(--color-darkPuple); 
    font-weight: 700;
}